# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production / local builds
/build
/dist

# Misc
.DS_Store
*.pem
*.log

# Local environment variables
.env
.env*.local

# One-time secrets (never to be committed)
/neon-url.txt
/.neon-url.txt

# TypeScript
*.tsbuildinfo
next-env.d.ts
